{% extends "base_generic.html" %}

{% block content %}
    <h1>File Tracker</h1>
    <h2>Name: {{file_entity.name}}</h2>
    <h2>Status: {{file_entity.get_status_display}}</h2>
    <h3>Modifications</h3>
    {% for history in file_entity.history.all %}
    <ul>
        {% if file_entity.status != 'n' %}
            <li><b>Client Modified:</b> {{history.client_modified}}</li>
            <li><b>Server Modified:</b> {{history.server_modified}}</li>
            <li><b>Content Hash:</b> {{history.content_hash}}</li>
        {% endif %}
    </ul>
    {% endfor %}
{% endblock %}
