{% extends "base_generic.html" %}

    {% block header %}
    <h1>File Tracker</h1>
    <h2>Name: {{file_entity.name}}</h2>
    <h3>Status: {{file_entity.get_status_display}}</h2>
    <h4>Modifications</h3>
    {% endblock %}
    {% block sidebar %}
        <h2>Menu</h2>
        <a href="{% url 'index' %}">Home</a></br>
        <a href="{% url 'file-entity-delete' pk=file_entity.id %}">Delete</a>
    {% endblock %}
    {% block content %}
        {% if file_entity.status == "m" %}
            <form action="", method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Handle"/>
            </form>
        {% endif %}
        {% for history in file_entity.history.all|dictsortreversed:"inserted" %}
        <ul>
            {% if file_entity.status != 'n' %}
                <li><b>Client Modified:</b> {{history.client_modified}}</li>
                <li><b>Server Modified:</b> {{history.server_modified}}</li>
                <li><b>Content Hash:</b> {{history.content_hash}}</li>
            {% endif %}
        </ul>
        {% endfor %}
    {% endblock %}
