{% extends "base_generic.html" %}

{% block header %}
    <h1>File Tracker</h1>
{% endblock %}
{% block content %}
    <p>Welcome to <i>File Tracker</i>, the place where you can track specific files
    from your Dropbox account!</p>
    {% if file_entity_list %}
    <ul>
        {% for file_entity in file_entity_list %}
            <a href="{{file_entity.get_absolute_url}}" ><li>{{file_entity.name}}</li></a>
        {% endfor %}
    </ul>
    {% else %}
        <p>No files to show</p>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <h2> Menu </h2>
    <a href="{% url 'file-entity-new' %}">Add new file</a>
{% endblock %}
