.container{
    display:grid;
    height: 100%;
    grid-gap: 3px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 100px 1fr;
}

.header {
    grid-column: 1 / -1;
}

.content{
    grid-column: 3 / -1;
}

.sidebar{
    grid-column: 1 / 2;
    border-top: 1px solid;
    border-right: 1px solid;
}
